<%- include("partials/header") -%>

<div class="info">
    <div class="box" id="heading">
        <h1> <%= listTitle %> </h1>
    </div>

    <div class="box">
        <p></p>
    </div>
</div>

<%- include("partials/footer") -%>