<%- include("partials/header") -%>

<div id="button">
    <form action="/customers" method="post">
        <button type="submit" class="btn btn-rounded homebutton display-1">Click Here to view all customers</button>
    </form>
</div>

  
<%- include("partials/footer") -%>